---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Health insurance plans & prices">
	<main>
		<div class="ds-l-container ds-content ds-u-margin-top--3 ds-u-margin-bottom--4">
			<h1>Plan Finder Ad Campaign Links</h1>
			<p>Use the links below to simulate targeted ad clicks to the window shopping experience.</p>
			<h2>Campaign 1</h2>
			<p><a href="/see-plans?campaign_id=campaign_1">/see-plans?campaign_id=campaign_1</a></p>
			<ul>
				<li>Location: 73301</li>
				<li>Age range: 35-45</li>
				<li>Income range: 30K-40K</li>
			</ul>
			<h2>Campaign 2</h2>
			<p><a href="/see-plans?campaign_id=campaign_2">/see-plans?campaign_id=campaign_2</a></p>
			<ul>
				<li>Location: 73301</li>
				<li>Age range: 40-50</li>
				<li>Income range: 60K-70K</li>
			</ul>
		</div>
	</main>
</Layout>
